<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <appSettings>
    <!--XA-->
    <!--<add key="Host" value="10.123.189.150" />-->
    <!--WH-->
    <add key="Host" value="10.1.200.4" />
    <!--XM-->
    <!--<add key="Host" value="192.168.88.104" />-->
    <!--TJ-->
    <!--<add key="Host" value="192.168.130.174" />-->
    <add key="Port" value="8020" />
    <add key="Request" value="/SMesMidServer/req" />
    <add key="DataSource" value="CHIPDM" />
    <add key="GlobalTimeout" value="9000000" />
  </appSettings>

</configuration>
