<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="mssqlserver" connectionString="Data Source=.;Initial Catalog=test;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <add key="Factory" value="XM" />
    <!--<add key="Host" value="10.1.200.4" />-->
    <!--<add key="Host" value="10.123.189.150" />-->
    <!--add key="Host" value="192.168.88.104" />-->
    <add key="Host" value="188.188.1.4" />
    <!--<add key="Host" value="1192.168.130.174" />-->
    <add key="Port" value="1433" />
    <add key="Request" value="/SMesMidServer/req" />
    <add key="DataSource" value="YXERP" />
    <add key="GlobalTimeout" value="9000000" />
  </appSettings>
</configuration>

